.article1 {
    overflow: auto;
    background: #f9f9f9;
    margin: 0 1rem 1.5rem 1rem;
    position: relative;
}

.para1 {
    color: rgb(0, 204, 255);
    margin: 2rem auto 5rem;
}

.heading {
    color: rgb(39, 10, 141);
    margin: 0rem auto 5rem;
}

.img1 {
    float: left;
    margin: 1rem;
}

.a1 {
    position: absolute;
    right: 0;
    bottom: 0;
}